$color-red: #f44336;
$color-green: #4caf50;
$color-blue: #2196f3;
$color-success: #2aa39a;
$color-danger: #ec4561;
$color-warning: #f8b425;
$color-info: #38a5f8;
$color-light: #f8f8fa;
$color-dark: #575c62;
$color-pink: #e91e63;
$color-purple: #9c27b0;
$color-deep-purple: #673ab7;
$color-indigo: #3f51b5;
$color-light-blue: #03a9f4;
$color-cyan: #00bcd4;
$color-teal: #009688;
$color-light-green: #8bc34a;
$color-lime: #cddc39;
$color-yellow: #fffc00;
$color-amber: #ffc107;
$color-orange: #ff9800;
$color-deep-orange: #ff5722;
$color-brown: #795548;
$color-grey: #9e9e9e;
$color-blue-grey: #607d8b;
$color-black: #000;
$color-white: #fff;
$color-roman-silver: #838996;
$color-viridian-green: #40826d;
$color-emerald: #50c878;
$color-english-red: #ab4b52;
$color-lemon-glacier: #fdff00;
$color-sage: #bcb88a;
$color-bittersweet: #fe6f5e;
$color-isabeline: #f4f0ec;
$color-dark-slate-gray: #2f4f4f;
$color-red-munsel: #f2003c;
