:root {
    --bg-bittersweet: #FF6F59;
    --bg-darkSlateGray: #254441;
    --bg-zomp: #43AA8B;
    --bg-sage: #B2B09B;
    --bg-romanSliver: #919098;
    --bg-maximumYellowRed: FFBC42;
    --bg-oldmauve: #603140;
    --bg-emerald : #7DCD85;
    --bg-viridianGreen: #0FA3B1;
    --bg-isabeline: #F9F7F3;
    --bg-englishRed: #AF3E4D;
}