/*******************************************************************************************************
********************************************************************************************************
--------------------------------------- Card button styles ---------------------------------------------
********************************************************************************************************
********************************************************************************************************/

.card-btn,
.card-button {
  @include button;
  padding: $sizeXs $sizeSm;
  margin-top: $sizeMd;
  margin-left: $sizeSm;
}
