/*******************************************************************************************************
********************************************************************************************************
---------------------------------------- Card action styles --------------------------------------------
********************************************************************************************************
********************************************************************************************************/

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 $sizeMd $sizeSm $sizeMd;
}
