/*******************************************************************************************************
********************************************************************************************************
------------------------------------------ Cards styles ------------------------------------------------
********************************************************************************************************
********************************************************************************************************/

.cards {
  display: flex;
  max-width: inherit;
  flex-wrap: wrap;
}
