/*******************************************************************************************************
********************************************************************************************************
---------------------------------------- Card-icon styles ----------------------------------------------
********************************************************************************************************
********************************************************************************************************/

.card-icon {
  width: $sizeMd;
  height: $sizeMd;
  cursor: pointer;
}
