html body {
    font-family: $is-segoe-ui;
	@include normalize;
}

.container {
	margin: 100px $sizeLg;
}

.title {
	text-align: center;
	font-weight: bold;
	width: 100%;
}

.is-bold {
	font-weight: bold;
}