/*******************************************************************************************************
********************************************************************************************************
----------------------------------------- Global styles ------------------------------------------------
********************************************************************************************************
********************************************************************************************************/

html body {
  font-family: $primary-font;
  @include normalize;
  overflow-y: hidden;
}

main,
section {
  margin: 50px $sizeMd;
}

.title {
  font-weight: bold;
  width: 100%;
  margin: $sizeSm 0;
}

.is-bold {
  font-weight: bold;
}

.news-letter-section {
  padding: $sizeSm;
  text-align: center;

  & .news-letter-content {
    padding-bottom: $sizeXs;
  }
}
