$bittersweet: FF6F59;
$darkSlateGray: 254441;
$zomp: 43AA8B;
$sage: B2B09B;
$romanSliver: 919098;
$maximumYellowRed: FFBC42;
$oldmauve: 603140;
$emerald : 7DCD85;
$viridianGreen: 0FA3B1;
$isabeline: F9F7F3;