$border-size-xs: 1px;
$border-size-sm: 2px;
$border-size-md: 4px;
$border-size-lg: 6px;
$border-size-xlg: 8px;

// $border-size-xs: solid 1px 4px 0px rgba(160, 160, 160, 0.8);
// $border-size-sm: solid 4px 8px 0px rgba(160, 160, 160, 0.8);
// $border-size-md: solid 8px 16px 0px rgba(160, 160, 160, 0.8);
// $border-size-lg: solid 16px 32px 0px rgba(160, 160, 160, 0.8);
// $border-size-xlg: solid 32px 64px 0px rgba(160, 160, 160, 0.8);
