$color-bittersweet: #ff6f59;
$color-dark-slate-gray: #254441;
$color-zomp: #43aa8b;
$color-sage: #b2b09b;
$color-roman-sliver: #919098;
$color-maximum-yellow-red: #ffbc42;
$color-old-mauve: #603140;
$color-emerald: #7dcd85;
$color-viridian-green: #0fa3b1;
$color-isabeline: #f9f7f3;
$color-english-red: #af3e4d;
$color-primary: #626ed4;
$color-secondary: #343549;
$color-success: #2aa39a;
$color-danger: #ec4561;
$color-warning: #f8b425;
$color-info: #38a5f8;
$color-light: #f8f8fa;
$color-dark: #575c62;
$color-muted: #edecf1;
