$shadow-0: 0px 0px 4px 0px rgba(100, 100, 100, 0.8);
$shadow-1: 0px 4px 8px 0px rgba(100, 100, 100, 0.8);
$shadow-2: 0px 8px 16px 0px rgba(100, 100, 100, 0.8);
$shadow-3: 0px 16px 32px 0px rgba(100, 100, 100, 0.8);
$shadow-4: 0px 32px 64px 0px rgba(100, 100, 100, 0.8);
$shadow-5: 0px 64px 128px 0px rgba(100, 100, 100, 0.8);
