.bg-bittersweet,
.background-bittersweet {
	background: $color-bittersweet;
}

.bg-dark-slate-gray,
.background-dark-slate-gray {
	background: $color-dark-slate-gray;
}

.bg-zomp,
.background-zomp {
	background: $color-zomp;
}

.bg-sage,
.background-sage {
	background: $color-sage;
}

.bg-roman-sliver,
.background-roman-sliver {
	background: $color-roman-sliver;
}

.bg-oldmauve,
.background-old-mauve {
	background: $color-old-mauve;
}

.bg-emerald,
.background-emerald {
	background: $color-emerald;
}

.bg-viridian-green,
.background-viridian-green {
	background: $color-viridian-green;
}

.bg-isabeline,
.background-isabeline {
	background: $color-isabeline;
}

.bg-english-red,
.background-english-red {
	background: $color-english-red;
}

.bg-primary,
.background-primary {
	background: $color-primary;
}

.bg-secondary,
.background-secondary {
	background: $color-secondary;
}

.bg-success,
.background-success {
	background: $color-success;
}

.bg-danger,
.background-danger {
	background: $color-danger;
}

.bg-warning,
.background-warning {
	background: $color-warning;
}

.bg-info,
.background-info {
	background: $color-info;
}

.bg-light,
.background-light {
	background: $color-light;
}

.bg-dark,
.background-dark {
	background: $color-dark;
}

.bg-muted,
.background-muted {
	background: $color-muted;
}
