.bg-bittersweet,
.background-bittersweet {
    background: var(--bg-bittersweet);
}

.bg-darkSlateGray,
.background-darkSlateGray {
    background: var(--bg-darkSlateGray);
}

.bg-zomp,
.background-zomp {
    background: var(--bg-zomp);
}

.bg-sage,
.background-sage {
    background: var(--bg-sage);
}

.bg-romanSliver,
.background-romanSliver {
    background: var(--bg-romanSliver);
}

.bg-oldmauve,
.background-oldmauve {
    background: var(--bg-oldmauve);
}

.bg-emerald,
.background-emerald {
    background: var(--bg-bg-emerald);
}

.bg-viridianGreen,
.background-viridianGreen {
    background: var(--bg-viridianGreen);
}

.bg-isabeline,
.background-isabeline {
    background: var(--bg-isabeline);
}

.bg-englishRed,
.background-englishRed {
    background: var(--bg-englishRed);
}
