.bg-red,
.background-red {
	background-color: $color-red;
}

.bg-roman-silver,
.background-roman-silver {
	background-color: $color-roman-silver;
}

.bg-viridian-green,
.background-viridian-green {
	background-color: $color-viridian-green;
}

.bg-emerald,
.background-emerald {
	background-color: $color-emerald;
}

.bg-english-red,
.background-english-red {
	background-color: $color-english-red;
}

.bg-lemon-glacier,
.background-lemon-glacier {
	background-color: $color-lemon-glacier;
}

.bg-sage,
.background-sage {
	background-color: $color-sage;
}

.bg-bittersweet,
.background-bittersweet {
	background-color: $color-bittersweet;
}

.bg-isabeline,
.background-isabeline {
	background-color: $color-isabeline;
}

.bg-dark-slate-gray,
.background-dark-slate-gray {
	background-color: $color-dark-slate-gray;
}

.bg-red-munsel,
.background-red-munsel {
	background-color: $color-red-munsel;
}

.bg-green,
.background-green {
	background-color: $color-green;
}

.bg-blue,
.background-blue {
	background-color: $color-blue;
}

.bg-success,
.background-success {
	background-color: $color-success;
}

.bg-danger,
.background-danger {
	background-color: $color-danger;
}

.bg-warning,
.background-warning {
	background-color: $color-warning;
}

.bg-info,
.background-info {
	background-color: $color-info;
}

.bg-light,
.background-light {
	background-color: $color-light;
}

.bg-dark,
.background-dark {
	background-color: $color-dark;
}

.bg-pink,
.background-pink {
	background-color: $color-pink;
}

.bg-purple,
.background-purple {
	background-color: $color-purple;
}

.bg-deep-purple,
.background-deep-purple {
	background-color: $color-deep-purple;
}

.bg-indigo,
.background-indigo {
	background-color: $color-indigo;
}

.bg-light-blue,
.background-light-blue {
	background-color: $color-light-blue;
}

.bg-light-blue,
.background-light-blue {
	background-color: $color-light-blue;
}

.bg-cyan,
.background-cyan {
	background-color: $color-cyan;
}

.bg-teal,
.background-teal {
	background-color: $color-teal;
}

.bg-light-green,
.background-light-green {
	background-color: $color-light-green;
}

.bg-lime,
.background-lime {
	background-color: $color-lime;
}

.bg-yellow,
.background-yellow {
	background-color: $color-yellow;
}

.bg-amber,
.background-amber {
	background-color: $color-amber;
}

.bg-orange,
.background-orange {
	background-color: $color-orange;
}

.bg-deep-orange,
.background-deep-orange {
	background-color: $color-deep-orange;
}

.bg-brown,
.background-brown {
	background-color: $color-brown;
}

.bg-grey,
.background-grey {
	background-color: $color-grey;
}

.bg-blue-grey,
.background-blue-grey {
	background-color: $color-blue-grey;
}

.bg-black,
.background-black {
	background-color: $color-black;
}

.bg-white,
.background-white {
	background-color: $color-white;
}
