.clr-bittersweet,
.color-bittersweet {
    color: var(--bg-bittersweet);
}

.clr-darkSlateGray,
.color-darkSlateGray {
    color: var(--bg-darkSlateGray);
}

.clr-zomp,
.color-zomp {
    color: var(--bg-zomp);
}

.clr-sage,
.color-sage {
    color: var(--bg-sage);
}

.clr-romanSliver,
.color-romanSliver {
    color: var(--bg-romanSliver);
}

.clr-oldmauve,
.color-oldmauve {
    color: var(--bg-oldmauve);
}

.clr-emerald,
.color-emerald {
    color: var(--bg-bg-emerald);
}

.clr-viridianGreen,
.color-viridianGreen {
    color: var(--bg-viridianGreen);
}

.clr-isabeline,
.color-isabeline {
    color: var(--bg-isabeline);
}

.clr-englishRed,
.color-englishRed {
    color: var(--bg-englishRed);
}

.clr-primary,
.color-primary {
    color: var(--bg-primary);
}

.clr-secondary,
.color-secondary {
    color: var(--bg-secondary);
}

.clr-success,
.background-success {
    color: var(--bg-success);
}

.clr-danger,
.background-danger {
    color: var(--bg-danger);
}

.clr-warning,
.color-warning {
    color: var(--bg-warning);
}

.clr-info,
.color-info {
    color: var(--bg-info);
}

.clr-light,
.color-light {
    color: var(--bg-light);
}

.clr-dark,
.color-dark {
    color: var(--bg-dark);
}

.clr-muted,
.color-muted {
    color: var(--bg-muted);
}
