.clr-bittersweet,
.color-bittersweet {
	color: $color-bittersweet;
}

.clr-dark-slate-gray,
.color-dark-slate-gray {
	color: $color-dark-slate-gray;
}

.clr-zomp,
.color-zomp {
	color: $color-zomp;
}

.clr-sage,
.color-sage {
	color: $color-sage;
}

.clr-roman-sliver,
.color-roman-sliver {
	color: $color-roman-sliver;
}

.clr-oldmauve,
.color-old-mauve {
	color: $color-old-mauve;
}

.clr-emerald,
.color-emerald {
	color: $color-emerald;
}

.clr-viridian-green,
.color-viridian-green {
	color: $color-viridian-green;
}

.clr-isabeline,
.color-isabeline {
	color: $color-isabeline;
}

.clr-english-red,
.color-english-red {
	color: $color-english-red;
}

.clr-primary,
.color-primary {
	color: $color-primary;
}

.clr-secondary,
.color-secondary {
	color: $color-secondary;
}

.clr-success,
.color-success {
	color: $color-success;
}

.clr-danger,
.color-danger {
	color: $color-danger;
}

.clr-warning,
.color-warning {
	color: $color-warning;
}

.clr-info,
.color-info {
	color: $color-info;
}

.clr-light,
.color-light {
	color: $color-light;
}

.clr-dark,
.color-dark {
	color: $color-dark;
}

.clr-muted,
.color-muted {
	color: $color-muted;
}
