.clr-bittersweet,
.color-bittersweet {
    color: var(--bg-bittersweet);
}

.clr-darkSlateGray,
.color-darkSlateGray {
    color: var(--bg-darkSlateGray);
}

.clr-zomp,
.color-zomp {
    color: var(--bg-zomp);
}

.clr-sage,
.color-sage {
    color: var(--bg-sage);
}

.clr-romanSliver,
.color-romanSliver {
    color: var(--bg-romanSliver);
}

.clr-oldmauve,
.color-oldmauve {
    color: var(--bg-oldmauve);
}

.clr-emerald,
.color-emerald {
    color: var(--bg-bg-emerald);
}

.clr-viridianGreen,
.color-viridianGreen {
    color: var(--bg-viridianGreen);
}

.clr-isabeline,
.color-isabeline {
    color: var(--bg-isabeline);
}

.clr-englishRed,
.color-englishRed {
    color: var(--bg-englishRed);
}
