.bor.bor-sz-xs,
.border.border-size-xs {
	border-width: $border-size-xs;
}

.bor.bor-sz-sm,
.border.border-size-sm {
	border-width: $border-size-sm;
}

.bor.bor-sz-md,
.border.border-size-md {
	border-width: $border-size-md;
}

.bor.bor-sz-lg,
.border.border-size-lg {
	border-width: $border-size-lg;
}

.bor.bor-sz-xlg,
.border.border-size-xlg {
	border-width: $border-size-xlg;
}

.bor-left.bor-sz-xs,
.border-left.border-size-xs {
	border-left-width: $border-size-xs;
}

.bor-left.bor-sz-sm,
.border-left.border-size-sm {
	border-left-width: $border-size-sm;
}

.bor-left.bor-sz-md,
.border-left.border-size-md {
	border-left-width: $border-size-md;
}

.bor-left.bor-sz-lg,
.border-left.border-size-lg {
	border-left-width: $border-size-lg;
}

.bor-left.bor-sz-xlg,
.border-left.border-size-xlg {
	border-left-width: $border-size-xlg;
}

.bor-right.bor-sz-xs,
.border-right.border-size-xs {
	border-right-width: $border-size-xs;
}

.bor-right.bor-sz-sm,
.border-right.border-size-sm {
	border-right-width: $border-size-sm;
}

.bor-right.bor-sz-md,
.border-right.border-size-md {
	border-right-width: $border-size-md;
}

.bor-right.bor-sz-lg,
.border-right.border-size-lg {
	border-right-width: $border-size-lg;
}

.bor-right.bor-sz-xlg,
.border-right.border-size-xlg {
	border-right-width: $border-size-xlg;
}

.bor-top.bor-sz-xs,
.border-top.border-size-xs {
	border-top-width: $border-size-xs;
}

.bor-top.bor-sz-sm,
.border-top.border-size-sm {
	border-top-width: $border-size-sm;
}

.bor-top.bor-sz-md,
.border-top.border-size-md {
	border-top-width: $border-size-md;
}

.bor-top.bor-sz-lg,
.border-top.border-size-lg {
	border-top-width: $border-size-lg;
}

.bor-top.bor-sz-xlg,
.border-top.border-size-xlg {
	border-top-width: $border-size-xlg;
}

.bor-bottom.bor-sz-xs,
.border-bottom.border-size-xs {
	border-bottom-width: $border-size-xs;
}

.bor-bottom.bor-sz-sm,
.border-bottom.border-size-sm {
	border-bottom-width: $border-size-sm;
}

.bor-bottom.bor-sz-md,
.border-bottom.border-size-md {
	border-bottom-width: $border-size-md;
}

.bor-bottom.bor-sz-lg,
.border-bottom.border-size-lg {
	border-bottom-width: $border-size-lg;
}

.bor-bottom.bor-sz-xlg,
.border-bottom.border-size-xlg {
	border-bottom-width: $border-size-xlg;
}

.bor.bor-sty-solid,
.bor-left.bor-sty-solid,
.bor-right.bor-sty-solid,
.bor-top.bor-sty-solid,
.bor-bottom.bor-sty-solid,
.border.border-style-solid {
	border-style: solid;
}

.bor.bor-sty-dashed,
.bor-left.bor-sty-dashed,
.bor-right.bor-sty-dashed,
.bor-top.bor-sty-dashed,
.bor-bottom.bor-sty-dashed,
.border.border-style-dashed {
	border-style: dashed;
}

.bor.bor-sty-dotted,
.bor-left.bor-sty-dotted,
.bor-right.bor-sty-dotted,
.bor-top.bor-sty-dotted,
.bor-bottom.bor-sty-dotted,
.border.border-style-dotted {
	border-style: dotted;
}
