.elev-0,
.elevation-0 {
	z-index: 0;
}

.elev-1,
.elevation-1 {
	z-index: 1;
}

.elev-2,
.elevation-2 {
	z-index: 2;
}

.elev-3,
.elevation-3 {
	z-index: 3;
}

.elev-4,
.elevation-4 {
	z-index: 4;
}

.elev-5,
.elevation-5 {
	z-index: 5;
}

.elev-6,
.elevation-6 {
	z-index: 6;
}

.elev-7,
.elevation-7 {
	z-index: 7;
}

.elev-8,
.elevation-8 {
	z-index: 8;
}

.elev-9,
.elevation-9 {
	z-index: 9;
}

.elev-10,
.elevation-10 {
	z-index: 10;
}

.elev-11,
.elevation-11 {
	z-index: 11;
}

.elev-12,
.elevation-12 {
	z-index: 12;
}

.elev-13,
.elevation-13 {
	z-index: 13;
}

.elev-14,
.elevation-14 {
	z-index: 14;
}

.elev-15,
.elevation-15 {
	z-index: 15;
}

.elev-16,
.elevation-16 {
	z-index: 16;
}

.elev-17,
.elevation-17 {
	z-index: 17;
}

.elev-18,
.elevation-18 {
	z-index: 18;
}

.elev-19,
.elevation-19 {
	z-index: 19;
}

.elev-20,
.elevation-20 {
	z-index: 20;
}
