.rd-xs,
.round-xs {
	border-radius: $sizeXs;
}

.rd-sm,
.round-sm {
	border-radius: $sizeSm;
}

.rd-md,
.round-md {
	border-radius: $sizeMd;
}

.rd-lg,
.round-lg {
	border-radius: $sizeLg;
}

.rd-xlg,
.round-xlg {
	border-radius: $sizeXLg;
}
