.link {
    text-decoration: none;
    font-family: $base-text;
    color: $color-info;
}

.link-is-underlined {
    text-decoration: underline;
}

.link-is-red {
    color: $color-red;
}

.link-is-green {
    color: $color-green;
}

.link-is-blue {
    color: $color-blue;
}

.link-is-success {
    color: $color-success;
}

.link-is-danger {
    color: $color-danger;
}

.link-is-warning {
    color: $color-warning;
}

.link-is-info {
    color: $color-info;
}

.link-is-light {
    color: $color-light;
}

.link-is-dark {
    color: $color-dark;
}

.link-is-pink {
    color: $color-pink;
}

.link-is-purple {
    color: $color-purple;
}

.link-is-deep-purple {
    color: $color-deep-purple;
}

.link-is-indigo {
    color: $color-indigo;
}

.link-is-light-blue {
    color: $color-light-blue;
}

.link-is-cyan {
    color: $color-cyan;
}

.link-is-teal {
    color: $color-teal;
}

.link-is-light-green {
    color: $color-light-green;
}

.link-is-lime {
    color: $color-lime;
}

.link-is-yellow {
    color: $color-yellow;
}

.link-is-amber {
    color: $color-amber;
}

.link-is-orange {
    color: $color-orange;
}

.link-is-deep-orange {
    color: $color-deep-orange;
}

.link-is-brown {
    color: $color-brown;
}

.link-is-grey {
    color: $color-grey;
}

.link-is-blue-grey {
    color: $color-blue-grey;
}

.link-is-white {
    color: $color-white;
}
